html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--main-text-color);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #f5f4fa;
  --footer-color: #2f303a;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --main-title: #ffff;
  --icon-color: #afb1b8;
  --sub-color: rgba(47, 48, 58, 0.8);
  --box-list: rgba(255, 255, 255, 0.1);
  --portfolio-overlay: rgba(33, 150, 243, 0.9);
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --animation: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --bganimation: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --opacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --border-animation: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --shdow-animation: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transform-animation: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* HEADER */
.header {
  border: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .navigation__list {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item + .navigation__item {
    margin-left: 50px;
  }
}

.container__link {
  margin-right: 91px;
  font-family: var(--secondary-font);
  color: black;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

@media screen and (max-width: 767px) {
  .container__link {
    padding-bottom: 16px;
    padding-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .container__link {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.container-logo {
  color: var(--accent-color);
}

.navigation__link {
  position: relative;
  display: block;
  color: inherit;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition: var(--animation);
}

@media screen and (max-width: 767px) {
  .navigation__link {
    padding: 0px;
    font-size: 40px;
    line-height: 1.17;
  }
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: var(--animation);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__link {
    padding: 0px;
  }
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__icon--envelope {
  width: 16px;
  height: 12px;
}

.contacts__icon--tel {
  width: 10px;
  height: 16px;
}

.navigation__link--modal {
  display: block;
  font-size: 34px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .navigation__link--modal {
    display: none;
  }
}

.different-color {
  margin-top: 32px;
  font-size: 24px;
  color: var(--text-color);
}

.modal-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .modal-list {
    display: none;
  }
}

.modal-list__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.modal-list__link {
  padding: 10px;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .modal-list__link {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .container-nav {
    display: none;
    position: absolute;
    z-index: 999;
    padding: 48px 40px;
    background-color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
  }
}

.container-nav.is-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation__button {
  position: absolute;
  z-index: 999;
  top: 22px;
  right: 23px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  border-color: transparent;
  background-color: #fff;
  fill: currentColor;
  transition: var(--fill);
}

.navigation__button:hover, .navigation__button:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .navigation__button {
    display: none;
  }
}

.navigation__icon--close {
  display: none;
}

.navigation__button.is-open .navigation__icon--close {
  display: block;
}

.navigation__button.is-open .navigation__icon--menu {
  display: none;
}

.contacts__link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: var(--animation);
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .navigation__link--current {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .navigation__link--current::after {
    position: absolute;
    left: 0px;
    bottom: 0px;
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}

/* HERO SECTION */
.hero {
  text-align: center;
}

.hero__overlay {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--text-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../images/desktop/hero/Hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--main-title);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .hero__title {
    width: 360px;
    font-size: 26px;
    line-height: 1.61;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px transparent;
  font-family: inherit;
  color: var(--main-title);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* DESCRIPTION SECTION */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 480px) {
  .describe {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .describe {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .describe {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .describe__item {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .describe__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .describe__item + .describe__item {
    margin-left: 30px;
  }
}

.thumb {
  background-color: var(--background-color);
  border-radius: 4px;
  height: 120px;
  padding: 25px 0px;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .thumb {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .thumb {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.thumb__icon {
  height: 70px;
  width: 70px;
}

.thumb__title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .thumb__title {
    text-align: center;
  }
}

.thumb__text {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* ABOUT ME SECTION */
.section--nopadding {
  padding-top: 0px;
}

@media screen and (max-width: 1200px) {
  .section--nopadding {
    display: none;
  }
}

.container__subtitle {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .container__subtitle {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.about__list {
  display: flex;
}

.about__item + .about__item {
  margin-left: 30px;
}

.about__item {
  position: relative;
}

.about__image {
  display: block;
}

.sub {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: var(--sub-color);
  padding-top: 27px;
  padding-bottom: 27px;
}

.sub__title {
  margin: 0px;
  padding: 0px;
  color: #ffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* OUR TEAM SECTION */
.section--bgrey {
  background-color: var(--background-color);
}

.card {
  display: flex;
}

@media screen and (max-width: 767px) {
  .card {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card {
    flex-wrap: wrap;
    margin: -15px;
  }
}

.card__item {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--main-title);
}

@media screen and (max-width: 767px) {
  .card__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__item {
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__image {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .card__item + .card__item {
    margin-left: 30px;
  }
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-card__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-transform: none;
}

.profession {
  margin-top: 0px;
  margin-bottom: 16px;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}

.socialnet {
  display: flex;
  padding-left: 0px;
  justify-content: center;
}

.socialnet__item + .socialnet__item {
  margin-left: 10px;
}

.socialnet__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-left: 0px;
  border-radius: 50px;
  color: var(--icon-color);
  transition: var(--animation), var(--bganimation);
}

.socialnet__link:hover, .socialnet__link:focus {
  color: #ffff;
  background-color: var(--accent-color);
}

.socialnet__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* CLIENTS */
.clients {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 1199px) {
  .clients {
    flex-wrap: wrap;
    margin: -15px;
  }
}

.clients__item {
  margin: 15px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .clients__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item + .clients__item {
    margin-left: 30px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  color: var(--icon-color);
  transition: var(--animation);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__logo {
  fill: currentColor;
}

.clients__logo--first {
  width: 41px;
  height: 100px;
}

.clients__logo--second {
  width: 40px;
  height: 50px;
}

.clients__logo--third {
  width: 43px;
  height: 41px;
}

.clients__logo--fourth {
  width: 84px;
  height: 40px;
}

.clients__logo--fifth {
  width: 65px;
  height: 45px;
}

.clients__logo--sixth {
  width: 93px;
  height: 44px;
}

/* FOOTER */
.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .footer__container {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-wrap {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-wrap {
    margin-left: 76px;
    text-align: center;
  }
}

.footer-wrap__link {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--main-title);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-wrap__logo {
  color: var(--accent-color);
}

.footer-wrap__address {
  color: var(--main-title);
  margin-bottom: 9px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
}

.footer-list {
  margin: 0px;
  padding-left: 0px;
}

.footer-list__item:first-child {
  display: inline-block;
  margin-bottom: 9px;
}

.footer-list__link {
  color: var(--footer-contacts);
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-box {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-box {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box {
    margin-left: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container--group {
    display: flex;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container--group {
    display: flex;
  }
}

.footer-box__title {
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffff;
  font-size: 14px;
  line-height: 1.14;
}

.box-list {
  display: flex;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .box-list {
    justify-content: center;
  }
}

.box-list__item + .box-list__item {
  margin-left: 10px;
}

.box-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  background-color: var(--box-list);
  color: #ffff;
  border-radius: 50px;
  transition: var(--animation);
}

.box-list__link:hover, .box-list__link:focus {
  color: #ffff;
  background-color: var(--accent-color);
}

.box-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-form {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
  }
}

.footer-form__title {
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffff;
  font-size: 14px;
  line-height: 1.14;
}

.footer-form_mail {
  display: block;
}

@media screen and (min-width: 1200px) {
  .footer-form_mail {
    display: flex;
  }
}

.footer-form__input {
  color: #ffff;
  width: 100%;
  padding: 15px 16px 15px 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.footer-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-left: 12px;
  padding: 10px 28px 10px 28px;
  cursor: pointer;
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #ffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

@media screen and (max-width: 1199px) {
  .footer-form__button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-form__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

/* MODAL-Window */
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: var(--opacity);
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 581px;
  padding: 40px;
  background-color: #ffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  background-color: #ffff;
  transition: var(--fill);
}

.modal__button:hover, .modal__button:focus {
  fill: var(--accent-color);
}

.modal__icon {
  width: 11px;
  height: 11px;
}

/* FORMS */
.modal__text {
  margin: 0px;
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.15;
  color: var(--main-text-color);
}

.form-box {
  position: relative;
  display: block;
}

.form-box:nth-child(-n + 4) {
  margin-bottom: 10px;
}

.form-box__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form-box__input {
  height: 40px;
  width: 100%;
  padding: 11px 11px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: var(--border-animation);
}

.form-box__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-box__input:focus:focus + .form-box__icon {
  fill: var(--accent-color);
}

.form-box__icon {
  position: absolute;
  top: 70%;
  left: 12px;
  transform: translateY(-70%);
  width: 12px;
  height: 12px;
  transition: var(--fill);
}

.phone {
  position: absolute;
  top: 70%;
  left: 12px;
  transform: translateY(-70%);
  width: 13px;
  height: 13px;
}

.email {
  position: absolute;
  top: 70%;
  left: 12px;
  transform: translateY(-70%);
  width: 18px;
  height: 18px;
}

.form-box__textarea {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
  margin-bottom: 20px;
  height: 120px;
  width: 100%;
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: var(--border-animation);
}

.form-box__textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
  color: var(--text-color);
}

@media screen and (max-width: 1199px) {
  .form-label {
    font-size: 12px;
    line-height: 1.16;
  }
}

.form-label_input {
  -webkit-appearance: none;
  appearance: none;
}

.form-label_input:checked + .form-label__logo {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url(../images/iconcheck.svg);
  background-size: contain;
  background-origin: border-box;
}

.form-label__logo {
  display: inline-block;
  margin-right: 7px;
  height: 15px;
  width: 16px;
  background-color: #ffff;
  border: 2px solid #212121;
  border-radius: 4px;
}

.form-label__link {
  color: var(--accent-color);
  text-decoration-line: underline;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container__submit {
  padding: 10px 56px 10px 56px;
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #ffff;
}

/* PORTFOLIO */
.examples {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .examples {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) {
  .examples {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .examples {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .examples__item:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .examples__item + .examples__item {
    margin-left: 8px;
  }
}

.examples__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-text-color);
  background-color: var(--background-color);
  padding: 6px 22px;
  border: 1px transparent;
  border-radius: 4px;
  transition: var(--animation), var(--border-animation);
}

.examples__button:hover, .examples__button:focus {
  background-color: var(--accent-color);
  color: #ffff;
  cursor: pointer;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .portfolio {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio {
    margin-top: -30px;
    margin-left: -30px;
  }
}

.portfolio__item {
  transition: var(--shdow-animation);
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

@media screen and (max-width: 767px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__item {
    width: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 1200px) {
  .portfolio__item:nth-child(3n) {
    margin-right: 0px;
  }
  .portfolio__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.portfolio__link {
  color: var(--main-text-color);
}

.portfolio__link:focus .sub-thumb,
.portfolio__link:hover .sub-thumb {
  transform: translateY(0);
}

.portfolio__link:hover .portfolio__thumb::before,
.portfolio__link:focus .portfolio__thumb::before {
  transform: translateY(0);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__image {
  display: block;
}

.sub-thumb {
  position: absolute;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 63px;
  width: 100%;
  top: 0px;
  left: 0px;
  transform: translateY(100%);
  transition: var(--transform-animation);
}

.sub-thumb__text {
  margin: 0px;
  font-size: 18px;
  line-height: 1.55;
  color: #ffff;
}

.portfolio__card {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}

.portfolio__title {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.8;
}

.portfolio__thumb::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: var(--transform-animation);
  background-color: var(--portfolio-overlay);
}
/*# sourceMappingURL=main.css.map */