html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--main-text-color);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

img {
  display: block;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #f5f4fa;
  --footer-color: #2f303a;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --main-title: #ffff;
  --icon-color: #afb1b8;
  --sub-color: rgba(47, 48, 58, 0.8);
  --box-list: rgba(255, 255, 255, 0.1);
  --portfolio-overlay: rgba(33, 150, 243, 0.9);
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --animation: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --bganimation: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --opacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --border-animation: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --shdow-animation: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transform-animation: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* HEADER */
.header {
  border: 1px solid #ececec;
}

.navigation__list {
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
  }
}

.header {
  border: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item + .navigation__item {
    margin-left: 50px;
  }
}

.container__link {
  margin-right: 91px;
  font-family: var(--secondary-font);
  color: black;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.container-logo {
  color: var(--accent-color);
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition: var(--animation);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link--current::after {
  position: absolute;
  left: 0px;
  bottom: 0px;
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}

.contacts__link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: var(--animation);
}

@media screen and (min: width 768px) {
  .contacts__link :not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__icon--envelope {
  width: 16px;
  height: 12px;
}

.contacts__icon--tel {
  width: 10px;
  height: 16px;
}
/*# sourceMappingURL=main.css.map */