/* HERO SECTION */
.hero {
  text-align: center;
}
.hero__overlay {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--text-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./images/desktop/hero/Hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--main-title);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (max-width: 1199px) {
    width: 360px;
    font-size: 26px;
    line-height: 1.61;
  }
  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px transparent;
  font-family: inherit;
  color: var(--main-title);
  background-color: var(--accent-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
