/* FOOTER */
.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: block;
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}
.footer-wrap {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 76px;
  }
}

.footer-wrap__link {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--main-title);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-wrap__logo {
  color: var(--accent-color);
}

.footer-wrap__address {
  color: var(--main-title);
  margin-bottom: 9px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
}
.footer-list {
  margin: 0px;
  padding-left: 0px;

  &__item:first-child {
    display: inline-block;
    margin-bottom: 9px;
  }
}

.footer-list__link {
  color: var(--footer-contacts);
  font-size: 14px;
  line-height: 1.71;
}

.footer-box {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.footer__container--group {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-box__title {
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffff;
  font-size: 14px;
  line-height: 1.14;
}
.box-list {
  display: flex;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    justify-content: center;
  }
}
.box-list__item + .box-list__item {
  margin-left: 10px;
}

.box-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  background-color: var(--box-list);
  color: #ffff;
  border-radius: 50px;

  transition: var(--animation);

  &:hover,
  &:focus {
    color: #ffff;
    background-color: var(--accent-color);
  }
}

.box-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.footer-form {
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.footer-form__title {
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffff;
  font-size: 14px;
  line-height: 1.14;
}
.footer-form_mail {
  display: block;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer-form__input {
  color: #ffff;
  width: 358px;
  padding: 15px 16px 15px 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-left: 12px;
  padding: 10px 28px 10px 28px;
  cursor: pointer;
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #ffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer-form__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
