/* FORMS */
.modal__text {
  margin: 0px;
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.15;
  color: var(--main-text-color);
}

.form-box {
  position: relative;
  display: block;

  &:nth-child(-n + 4) {
    margin-bottom: 10px;
  }
}

.form-box__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form-box__input {
  height: 40px;
  width: 100%;
  padding: 11px 11px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: var(--border-animation);

  &:focus {
    outline: none;
    border-color: var(--accent-color);

    &:focus + .form-box__icon {
      fill: var(--accent-color);
    }
  }
}

.form-box__icon {
  position: absolute;
  top: 70%;
  left: 12px;
  transform: translateY(-70%);
  width: 12px;
  height: 12px;
  transition: var(--fill);
}

.phone {
  position: absolute;
  top: 70%;
  left: 12px;
  transform: translateY(-70%);
  width: 13px;
  height: 13px;
}
.email {
  position: absolute;
  top: 70%;
  left: 12px;
  transform: translateY(-70%);
  width: 18px;
  height: 18px;
}
.form-box__textarea {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
  margin-bottom: 20px;
  height: 120px;

  width: 100%;
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: var(--border-animation);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.form-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
  color: var(--text-color);
  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.16;
  }
}
.form-label_input {
  -webkit-appearance: none;
  appearance: none;

  &:checked + .form-label__logo {
    border-color: transparent;
    background-color: var(--accent-color);
    background-image: url(../images/iconcheck.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.form-label__logo {
  display: inline-block;
  margin-right: 7px;
  height: 15px;
  width: 16px;
  background-color: #ffff;
  border: 2px solid #212121;
  border-radius: 4px;
}
.form-label__link {
  color: var(--accent-color);
  text-decoration-line: underline;
}
.button-container {
  display: flex;
  justify-content: center;
}
.button-container__submit {
  padding: 10px 56px 10px 56px;
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #ffff;
}
